.Contact {
  background-color: var(--secBg);
  display: flex;
  align-items: center;
  flex-direction: column;
  .container {
    .form {
      .row {
        .formOutline {
          margin: 10px 0;
          position: relative;
          .invalidTooltip {
            position: relative;
            top: 0;
            margin: 10px 0;
            font-size: 18px;
            background-color: transparent;
            color: var(--mainColor);
            padding: 0;
          }
          input,textarea {
            box-shadow: none;
            outline: none;
            border: 2px solid var(--mainColor);
            color: var(--mainColor);
            background: transparent;
            &:focus {
              border: 2px solid var(--secColor);
            }
          }
          .textarea {
            height: 150px;
            vertical-align: bottom;
          }
          #submit {
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
.load {
  button {
    border: 2px solid #410d01 !important;
    color: #410d01;
    &:hover {
      border: 2px solid #410d01;
    }
  }
}
