.nav {
  transition: 1s;
  z-index: 2;
  background: var(--mainColor);
  box-shadow: 0 20px 20px -15px #ff6d4021;
  .navbarBrand,
  .item {
    color: var(--secBg);
    padding: 10px 0;
  }
  .item {
    margin-inline: 10px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0px;
      height: 3px;
      background-color: var(--secColor);
      transition: 0.5s;
    }
    &:hover {
      color: var(--secColor);
      &::after {
        width: 25px;
      }
    }
  }

  .navbarToggler {
    position: relative;
    border: none;
    outline: none;
    box-shadow: none;

    span {
      background-color: var(--secBg);
      mix-blend-mode: difference;
      height: 2px;
      position: absolute;
      width: 100%;
      left: 0;
      transition: all 0.3s ease;
      &:nth-child(1) {
        top: 0px;
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        top: 0px;
        transform: rotate(-45deg);
      }
    }
  }
}
