@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

:root {
  --white: #fff;
  --black: #000;
  --black90: #0000008a;
  --gray: #999;

  --secColor: #ff6d40;
  --secColor90: rgba(255, 109, 64, 0.8);

  --mainColor: #100502;
  --mainColor90: #2d112be6;

  --secBg: #fedcc8;
}
section {
  overflow: hidden !important;
}
body {
  font-family: "Permanent Marker", cursive;
  background-color: var(--mainColor);
  color: var(--black) !important;
  overflow-x: hidden;
}
* {
  cursor: url("./img/5993123.png"), auto !important;
}
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--secColor90);
  &:hover {
    background-color: var(--secColor);
  }
}
::selection {
  background-color: var(--secBg);
  color: var(--mainColor);
}
section {
  padding: 1rem 0;
}

.active {
  color: var(--secColor) !important;
}

.collapsed span:nth-child(1) {
  top: 0 !important;
  transform: rotate(0deg) !important;
}
.collapsed span:nth-child(2) {
  top: 6px !important;
  transform: rotate(0deg) !important;
  opacity: 1 !important;
}
.collapsed span:nth-child(3) {
  top: 12px !important;
  transform: rotate(0deg) !important;
}

.About {
  color: var(--white);
  .container {
    .row {
      margin: 0;
      .about-text {
        @media (max-width: 767px) {
          text-align: center;
        }
        .row {
          .textX {
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
          .textX {
            p {
              line-height: 1.7rem;
              width: 100%;
            }
            h2 {
              span {
                color: var(--secColor);
              }
            }
          }
          .textX2 {
            .AllinfoBTN {
              justify-content: flex-start;
              margin: 20px 0;
              @media (max-width: 991px) {
                justify-content: center;
              }
            }
            .Allinfo {
              flex-direction: column;
              align-items: flex-start;
              margin: 15px 0;
              .info {
                display: flex;
                align-items: center;
                h6,
                p,
                a {
                  margin: 5px;
                  text-align: start;
                  @media (max-width: 767px) {
                    font-size: calc(0.6rem + 1vw);
                  }
                }
                a {
                  color: var(--white);
                  text-decoration: none;
                  cursor: pointer;
                }
              }
              .hr {
                width: 100%;
                background: var(--gray);
                height: 1px;
              }
            }
            .btnX {
              // download cv btn
              .learn-more {
                user-select: none;
                margin: 20px 0;
                display: flex;
                background: transparent;
                min-width: 12rem;
                position: relative;
                border: none;
                padding: 0;
                .circle {
                  transition: 0.5s;
                  display: block;
                  width: 50px;
                  height: 45px;
                  background: var(--secBg);
                  border-radius: 5px;
                  .icon {
                    transition: 0.5s;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    background: #000;
                  }
                  .arrow {
                    transition: 0.5s;
                    left: 0.625rem;
                    width: 20px;
                    height: 2px;
                    background: none;
                    &::before {
                      content: "";
                      position: absolute;
                      top: -4px;
                      right: 0px;
                      width: 10px;
                      height: 10px;
                      border-top: 2px solid #000;
                      border-right: 2px solid #000;
                      transform: rotate(45deg);
                    }
                  }
                }
                .button-text {
                  transition: 0.5s;
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 30px;
                  padding: 10px;
                  margin: 1.5px 0 0 10px;
                  color: var(--white);
                  text-align: center;
                  text-decoration: none;
                  text-transform: uppercase;
                }
                &:hover .circle {
                  width: 100%;
                }
                &:hover .circle .icon.arrow {
                  background: #000000;
                  transform: translate(10px, 0);
                }
                &:hover .button-text {
                  color: #000000;
                }
              }
            }
          }
        }
      }
      .allCards {
        margin-top: 25px;
        .card {
          text-align: center;
          border: 2px solid;
          border-color: transparent #eee transparent transparent;
          p {
            font-size: calc(10px + 1vw);
            @media (max-width: 319px) {
              font-size: calc(0.5rem + 1vw);
            }
          }
          h2,
          h3 {
            color: #6c757d;
            font-size: calc(2rem + 1vw);
            font-weight: 500px;
          }
        }
        @media (max-width: 1200px) {
          :nth-child(1) {
            border-color: transparent #eee #eee transparent;
          }
          :nth-child(2) {
            border-color: transparent transparent #eee transparent;
          }
        }
        .noborder {
          border: none;
        }
      }
    }
  }
}

.parallax-card-shine {
  z-index: unset !important;
}

#card3d > div {
  display: block !important;
}

.center-text-dark {
  h2 {
    color: #340a0033 !important;
  }
  p {
    color: #340a00;
    &::after {
      background-color: #340a00;
    }
  }
}

.parallax-card-layers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert {
  padding: 0.5rem 0;
  color: var(--secColor);
}

.atropos.my-atropos {
  height: 100%;
}

span.atropos-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}